:root{

        --primary-color: #0d21a1; 
        --secondary-color: #01aaff; 
}

body{
    background-color: white ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
	padding:0;
}

.navbar-nav {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0%;
}
#offcanvasNavbar {
    z-index: 1030; /* Lower z-index */
}

.nav-item {
    white-space: nowrap; /* Prevent items from breaking into a new line */
}

.nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
}


@media(max-width: 991px){
    .sidebar{
        
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: flex-start;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }
}

/* Home CSS*/

.banner{
    
	height: 100vh;
	width: 100%;
	background:url('../images/overlay.png'),url('../images/cyber.jpg');
	background-position: top;
	background-size:cover;
	background-repeat: no-repeat;
}
.banner .info{
	padding-top:20%;
	transform: translateY(-15%);
}
banner .info h1{
	font-size: 2.5em;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: var(--primary-color);
	padding:10px 20px; 
	font-size: 1.5em;
	font-weight: 500;
}

/* Service CSS */
.card-img-top{
    border-radius: 50px;
    padding: 20px;
}
.card{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    
}
.card-body{
    padding: 25px;
    margin-top: -15px;
}
.btn-primary{
    border-radius: 50px;
    width: 120px;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
h3,h5{
    color: rgb(0, 91, 228);
}

/* Partners CSS */
#partners{
    background-color: var(--primary-color);
}
#partners h1 {
    color: white;
}
#partners .card{
    background-color: var(--secondary-color);
    color : #ffffff;
}
.pt-10px{
    padding-top: 10px;
}

/* Clients CSS */

.clients .card{
    background-color: var(--primary-color);
    color : #ffffff;
}

/* Contact US CSS */
#contact{
    background-color: #eff2f4d7;
}
.form-area {
	padding-top: 5%;
    padding-bottom: 5%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: var(--primary-color);
	padding: 200px 98px;
}
.left h2 {
	
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.left p{
    font-size: 24px;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: var(--secondary-color);
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}


/* Contact Us responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}
footer div{
    height: 100%;
    background-color: var(--primary-color);
    
}
footer p{
    color: white;
}